# Server configuration
PORT=3000

# Operator credentials & Portal URLs (Required in production)
LXMI_USERNAME=
LXMI_PASSWORD=
LXMI_PORTAL_URL=https://lxmi.laxmiholidays.com

RDLH_USERNAME=
RDLH_PASSWORD=
RDLH_PORTAL_URL=https://rdlh.ticketsimply.com

# Core configuration
DATABASE_URL=
ENCRYPTION_KEY=
JWT_SECRET=
RAZORPAY_KEY=
RAZORPAY_SECRET=

# Admin configuration
ADMIN_PASSWORD=
